	header form {
		display: inline;
		margin: 0 0 0 100px;
	}

	header .btn {
		margin: 0;
	}

	#comment_input {
		width: 700px;
		display: inline-block;
		vertical-align: bottom;
	}

	#comment_btn {
		display: inline-block;
		margin: 0 0 0 10px;
	}

.comment_log {
	margin: 10px;
}