* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 900px;
	padding: 20px;
}

	h1 {
		padding: 10px 0;
		border-bottom: 4px silver ridge;
	}

		.btn {
			margin: 20px 0;
		}

		thead {
			background-color: lightgray;
		}

		.odd {
			background-color: pink;
		}

		.even {
			background-color: lightgreen;
		}

		#destroyer {
			display: inline;

		}

			#destroyer .my_button {
				border: none;
				background-color: transparent;
				color: #5397CA;
				font-size: 1.05em;
				margin: 0 0 0 2px;
				padding: 0;
				vertical-align: top;
		}

				#destroyer .my_button:hover {
						text-decoration: underline;
						color: #2A6496;
				}

	a {
		padding: 0 5px;
		vertical-align: top;
	}

	a:nth-child(2) {
		border-left: 1px black solid;
		padding: 0 8px;
	}

	td a:nth-child(2) {
		border-right: 1px black solid
	}

	.nav {
		margin: 10px 0;
		border-top: 4px silver ridge;
	}